@import "../../assets/styles/mixins/media";

.catalog-grid {
  margin-top: 28px;

  &--bnr {
    .catalog-grid__list {
      margin-bottom: 0;
    }
  }

  &__list {
    margin: -15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &__btn-wrap {
    margin-top: 40px;

    &--top-enlg {
      margin-top: 60px;
    }
  }

  @include media-md {
    &--bnr {
      .card:last-child {
        display: none;
      }
    }
  }

  @include media-lg {
    &--bnr {
      .card:last-child {
        display: block;
      }
    }

    &__btn-wrap {
      &--top-enlg {
        margin-top: 80px;
      }
    }
  }

  @include media-xl {
    margin-top: 40px;

    &--bnr {
      margin-top: -20px;

      .catalog-grid__list {
        margin-bottom: 0;
      }
    }

    &__btn-wrap {
      margin-top: 50px;

      &--top-enlg {
        margin-top: 100px;
      }
    }
  }
}
